@use "utilities/colors" as *;

.calculator__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: none;
    border-radius: 15px;
    background-color: $color-a;
    box-shadow: 0 5px $color-c;
    transition: background-color 100ms,
                color 100ms;

    font-size: 3em;
    font-weight: bold;
    color: $color-d;
}

.calculator__button:active {
    background-color: $color-d;

    color: $color-a;
}

.calculator__button--special {
    background-color: orange;
    box-shadow: 0 5px $color-d;

    color: white;
}

.calculator__button--symbol {
    background-color: $color-c;
    box-shadow: 0 5px $color-d;

    color: white;
}

.calculator__button--short {
    flex-basis: 20%;
}

.calculator__button--long {
    flex-basis: 40%;
}

.calculator__row > .calculator__button {
    margin: 0 5px;
}

.calculator__column > .calculator__button {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .calculator__button {
        box-shadow: 0 7px $color-c;
        border-radius: 20px;

        font-size: 4em;
    }

    .calculator__button--special,
    .calculator__button--symbol {
        box-shadow: 0 7px $color-d;
    }

    .calculator__row > .calculator__button {
        margin: 0 15px;
    }
    
    .calculator__column > .calculator__button {
        margin-bottom: 20px;
    }
}
